<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.systematix.itrack">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- !!! for syncing !!! -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Always required on api < 21, needed to keep a wake lock while your job is running -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Required on api < 21 if you are using setRequiredNetworkType(int) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Required on all api levels if you are using setPersisted(true) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MakeReportActivity"
            android:label="@string/title_activity_make_report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.DarkStatusBar" />
        <activity
            android:name=".MinorViolationActivity"
            android:label="@string/title_activity_minor_violation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.DarkStatusBar" />
        <activity
            android:name=".MinorViolationExtrasActivity"
            android:label="@string/title_activity_minor_violation_extras"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.DarkStatusBar.AccentIsPrimary" />

        <service
            android:name=".components.sync.NetworkSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>